<div>
    <div class="row">
        <div class="col-3">
            <h5>Filtri</h5>
            <div class="check input-group mb-3">
                <input type="text" class="form-control" aria-label="Username">
            </div>
        </div>


        <div class="col-6 row">
            <div class="col-5">
                <h5>Periodo</h5>
                <div class="check input-group mb-3">
                    <input type="date" class="form-control" aria-label="Username">
                </div>
            </div>

            <div class="col-1 d-flex align-items-end">
                a
            </div>

            <div class="col-5 d-flex align-items-end">
                <h5></h5>
                <div class="check input-group mb-3">
                    <input type="date" class="form-control" aria-label="Username">
                </div> 
            </div>
        </div>
    </div>

    <div style="width: 90%; margin-top: 7vh;">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #C4C4C4;">
                Nuovo Incontro con Oracle
              <span >20 magg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #F4F4F4;">
                Profilo Stagista Disponibile
              <span>15 mag</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #C4C4C4;">
                Compilazione Feedback Francesco Ross
              <span >10 mag</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #F4F4F4;">
                Informazioni nuovi corsi ITS
              <span >9 mag</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #C4C4C4;">
                Email inizio stage
              <span >19 apr</span>
            </li>
          </ul>
    </div>
</div>