<div>
    <div class="row">
        <div class="col-2">
            <h5>Filtri</h5>
            <div class="check input-group mb-3">
                <input type="text" class="form-control" aria-label="Username">
            </div>
        </div>


        <div class="col-5 row">
            <div class="col-5">
                <h5>Periodo</h5>
                <div class="check input-group mb-3">
                    <input type="date" class="form-control" aria-label="Username">
                </div>
            </div>

            <div class="col-1 d-flex align-items-end">
                a
            </div>

            <div class="col-5 d-flex align-items-end">
                <h5></h5>
                <div class="check input-group mb-3">
                    <input type="date" class="form-control" aria-label="Username">
                </div> 
            </div>
        </div>


        <div class="col-4 row">
            <div class="col-4 d-flex align-content-around flex-wrap">
                <div class="d-flex align-items-start" style="flex-direction: column; margin-top:10%; width: 100%">
                    <div class="d-flex justify-content-start" style="width: 100%">
                        <input class="checkbox" type="checkbox" name="Stagisti" color="red">
                        <span style="font-size: 12px; margin-left: 5%; margin-bottom: 5%;">Stagisti</span>
                    </div>
                    <div class="d-flex justify-content-start" style="width: 100%">
                        <input class="checkbox" type="checkbox" name="Ex-Stagisti">
                        <span style="font-size: 12px; margin-left: 5%;">Ex-Stagisti</span>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <h5>Ruolo</h5>
                <div class="check input-group mb-3">
                    <input type="text" class="form-control" aria-label="Username">
                </div>
            </div>
        </div>
    </div>


    <div style="margin-top: 1vh;">
        <div class="cardo row" style="margin-top:5vh">
            <div class="col-2 d-flex justify-content-center" style="margin-top: 1vh;">
                <img class="profileImg" src="../assets/avatar.jpg" alt="avatar" height="50px">
            </div>

            <div class="row col-10" style="margin: 0; margin-top: 3vh; padding: 0;">
                <div class="col-4" >
                    <h3>
                        <b>Francesco Rossi</b>
                    </h3>
                    <h4>
                        <b>Corso:</b> FEX 2 anno
                    </h4>
                </div>

                <div class="col-5 d-flex" style="display: flex; flex-direction: column; justify-content: flex-start; ">
                    <h4>
                        <b>Ruolo: </b>Sviluppatore Frontend
                    </h4>
                    <h4 style="margin-top: 1vh;">
                        <b>Stato: </b>Studente
                    </h4>
                </div>

                <div class="col-3" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                    <h4 class="d-flex justify-content-center" style="display: flex; align-items: center">
                        <b>Richiesta</b>
                    </h4>
                    <h4 class="row" style="width:100%; margin-top:1vh" >
                        <button class="okbtn d-flex justify-content-center btn" style="display: flex; align-items: center; ">
                            <img src="../assets/Check.svg" alt="check" style="width:2vh">
                        </button>
                        <button class="nobtn d-flex justify-content-center btn" style="display: flex; align-items: center; ">
                            <img src="../assets/X.svg" alt="check" style="width:2vh">
                        </button>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="cardo row" style="margin-top:1vh">
            <div class="col-2 d-flex justify-content-center" style="margin-top: 1vh;">
                <img class="profileImg" src="../assets/account.jpg" alt="avatar" height="50px">
            </div>

            <div class="row col-10" style="margin: 0; margin-top: 3vh; padding: 0;">
                <div class="col-4" >
                    <h3>
                        <b>Francesco Rossi</b>
                    </h3>
                    <h4>
                        <b>Corso:</b> FEX 2 anno
                    </h4>
                </div>

                <div class="col-5 d-flex" style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <h4>
                        <b>Ruolo: </b>Sviluppatore Frontend
                    </h4>
                    <h4 style="margin-top: 1vh;">
                        <b>Stato: </b>Studente
                    </h4>
                </div>

                <div class="col-3" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                    <h4 class="d-flex justify-content-center" style="display: flex; align-items: center">
                        <b>Richiesta in attesa</b>
                    </h4>
                    <h4 class="row" style="width:100%; margin-top:1vh" >
                        <button class="annbtn d-flex justify-content-center btn" style="display: flex; align-items: center; ">
                            Annulla Richiesta
                        </button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>