<app-navbar></app-navbar>
<div class=" row justify-content-start" style="margin-top:14vh; margin-bottom:12vh;">
    <div class="col-3 list-group" style="height: 100%;">
        <app-sidebar-profile-page></app-sidebar-profile-page>
    </div>

    <div id="comp2" class="col-9">
        <div *ngIf="valore == 1">
            <app-info-aziendali></app-info-aziendali>
        </div>

        <div *ngIf="valore == 2">
            <app-profilo-stagisti></app-profilo-stagisti>
        </div>

        <div *ngIf="valore == 3">
            <app-notifiche-profile></app-notifiche-profile>
        </div>

        <div *ngIf="valore == 4">
            <app-richieste-profile></app-richieste-profile>
        </div>
    </div>
</div>